// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// css
@import '../css/app.css';

.h-screen {
    height: 100vh;
}

#app > header{
    z-index: 0;
}

header .navbar li > a:active,
header .navbar li > a:hover,
header .navbar li > a:focus,
header .navbar li > a:visited,
header .navbar li > a:focus-within,
header .navbar li > a:focus-visible,
header .navbar li > a:target {
    text-decoration: underline;
}

main h1, main h2 {
    color: $primary;
}

.btn-primary,
.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:visited,
.btn-primary:focus-within,
.btn-primary:focus-visible,
.btn-primary:target {
    color: white;
}

label .required {
    color: red;
}

ul.validation-errors {
    color: red;
}
